*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenitore-header{
    z-index: 999;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    
    
}

button{
    background-color: gray;
    color: white;
    border-radius: 8px;
    padding: 3px;
}

main{
   
}

.contenitore-main{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
}

img{
    height: 100px;
    width: 200px;
}

.cam{
   margin: 8px 4px;
    position: relative;
}

.name{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: white;
}


.contenitore-footer{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(70, 69, 69)
}

.icone i{
    font-size: 25px;
}

.icone{
    padding: 0 10px;
    text-align: center;
}

.green{
    
    color: green;
}

.end{
    height: 70px;
    color: red;
    background-color: gray;
}